* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

/* hack guapo para quitar las scrollbars sin perder funcionalidad */
*::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: "Charcoal";
    src: url(Charcoal.otf);
}

.scroller {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow-y: scroll;
}

.doggos {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100vh;
    overflow: hidden;
    font-family: "Charcoal";
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
}

.align-right {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

/* DOGGOS */
.levi {
    background-color: rgb(240, 41, 41);
}

.barney {
    background-color: rgb(243, 243, 88);
}

.moe {
    background-color: orange;
}

.riku {
    background-color: rgb(240, 107, 134);
}

.riku > .photo {
    justify-content: center;
}

.duke {
    background-color: rgb(148, 18, 148);
}

.kili {
    background-color: lightgray;
}

.negra {
    background-color: rgb(2, 248, 150);
}

.loader {
    justify-content: center;
    color: black;
}

.loader > p {
    margin-top: 1em;
}

.counter {
    font-family: cursive;
}

img {
    object-fit: contain;
}

.info {
    display: flex;
    padding: 10em;
    height: 70%;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    z-index: 9;
}

.info > h1 {
    font-size: 100px;
}

.info-btn {
    font-family: "Charcoal";
    font-size: 1.5em;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 1em;
    padding: 1em;
    border-radius: 1.2em;
    width: fit-content;
    background-image: linear-gradient(-30deg, black 50%, transparent 50%);
    background-size: 200% 200%;
    transition: background-position 0.3s ease;
}

.info-btn:hover, .info-btn:active, .info-btn:focus {
    background-position: 100% 100%;
}

.photo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 30%;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.photo.top {
    transition: transform 1s ease-out, opacity 1s ease-out;
    transform: translateY(-322px);
}

.photo.right {
    transition: transform 1s ease-out, opacity 1s ease-out;
    transform: translateX(390px);
}

.photo.left {
    justify-content: flex-start;
    transition: transform 1s ease-out, opacity 1s ease-out;
    transform: translateX(-333px);
}

.active {
    opacity: 1;
}

.info.active {
    transform: translateY(0px);
}

.top.active {
    transform: translateY(0px);
}

.right.active {
    transform: translateX(0px);
}

.left.active {
    transform: translateX(0px);
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader img {
    animation: loader 2s infinite ease-in-out;
    max-width: 80%;
}


/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    height: 60px;
    width: 100%;
    font-family: monospace;
    transform: translateY(-60px);
}

.pareja {
    position: absolute;
    right:3em;
    bottom: -4em;
    transform: scale(0.5);
}

.heart {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background: #ff4757;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #ff4757;
    margin-left: 1em;
    animation: heartAnimation 1s linear infinite;
}

.heart::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 1.5em;
    height: 1.5em;
    background: #ff4757;
    box-shadow: -10px -10px 90px #ff4757;
    border-radius: 50%;
    animation: heartAnimation 1s linear infinite;
}

.heart::after {
    content: '';
    position: absolute;
    right: -50%;
    width: 1.5em;
    height: 1.5em;
    background: #ff4757;
    box-shadow: -10px -10px 90px #ff4757;
    border-radius: 50%;
    animation: heartAnimation 1s linear infinite;
}

footer > a {
    display: contents;
}

.github, .linkedin {
    position: absolute;
    right: 17em;
    height: 30px;
}

.linkedin {
    right: 13.7em;
}

@keyframes loader {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes heartAnimation {
    0% {
      transform: rotate(-45deg) scale(1.07);
    }
    80% {
      transform: rotate(-45deg) scale(1);
    }
    100% {
      transform: rotate(-45deg) scale(1);
    }
  }

@media only screen and (max-width: 767px) {
    img {
      max-width: 100%;
    }

    .info {
        justify-content: center;
        align-items: center;
        text-wrap: nowrap;
    }

    .pareja {
        right: 10em;
    }

    .linkedin {
        right:0.5em;
        height: 20px;
    }

    .github {
        right: 2.1em;
        height: 20px;
    }
}
